/* Headers in this scope should be of a specific font size and margin at bottom */
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* All form input/select elements should be flex and have a specific kind of dimensions as well as each of them
 be on a single separate line */
input, textarea, select {
  display: flex;
  background-color: #eee;
  border: none;
  padding: 12px;
  margin-top: 8px;
  clear: both;
  width: 100%;
  font-size: 0.8rem;
}

/* Inputs and text areas should have a border-box sizing */
input, textarea {
  box-sizing: border-box;
}

/* When focusing any of these inputs, an outline will be shown from teal color */
input:focus, textarea:focus {
  outline: 1px solid teal;
}

/* Specific styling to button */
button {
  display: flex;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #00b4cf;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

/* Hovering opacity change on button for more appealing experience */
button:hover {
  opacity: 0.7;
}

/* All paragraphs inside a form should be aligned left */
form p {
  text-align: left;
  justify-content: left;
}

/* The text area height is fixed in this scope */
textarea {
  height: 100px;
}


/* Style the elements of class non displayed where we don't want them to be rendered */
.non-displayed {
  display: none;
}

/* Style elements that will be rendered when an error happened */
.errorMessage {
  /* Red color for this error message */
  color: red;
  /* Set the font family for a different one to highlight it is an error in validation */
  font-family: Lucida Console, monospace;
  /* Set the size of the error */
  font-size: 12px;
  /* Set the display type of the error message */
  display: block;
}

/* For all paragraph elements that are contained in the errorMessage label, style their padding and margin */
.errorMessage p {
  padding: 0 2rem;
  margin: 0 0;
}

/* For all elements that are of the required-label class, a red asterisk will be appended to its content */
.required-label::after {
  content: "*";
  color: red;
}

/* Styling for the submit success elements to look like a special green label box */
.submit-success {
  padding: 10px 5px;
  border: #2fbd2f solid;
  background-color: lightgreen;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
}
